/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
  margin-bottom: 30px;
  /* sticky footer */
}
html {
  position: relative;
  min-height: 100%;
}
.navbar-nav img {
  width: 46px;
  height: 46px;
  margin-top: -4px;
}
.profile-avatar {
  width: 24px;
  height: 24px;
}
.navbar-fixed-top {
  border: 0px;
}
/* Set widths on the navbar form inputs since otherwise they're 100% wide */
.navbar-form input[type="text"],
.navbar-form input[type="password"] {
  width: 180px;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}
/* --- */
#dashboard-menu > li > a {
  color: white;
  font-size: 10px;
}
#dashboard-menu {
  margin-right: 0px;
}
/* we need this for mobile view */
.container > :first-child {
  margin-top: 15px;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Let the jumbotron breathe */
  .container > :first-child {
    margin-top: 20px;
  }
  /* Remove padding from wrapping element since we kick in the grid classes here */
  .body-content {
    padding: 0;
  }
  .navbar-nav > li > a {
    padding-top: 12.5px;
    padding-bottom: 12.5px;
  }
  #dashboard-menu > li:last-child > a {
    padding: 4px 0 0 0;
  }
}
.no-margin {
  margin: 0!important;
}
.list-group .list-group-footer {
  height: 41px;
}
.list-group-footer .text-right {
  padding-top: 4px;
}
.big {
  font-size: 2em;
}
.bigbig {
  font-size: 3em;
}
.timeline {
  border-left: 4px #428bca solid;
  margin-left: 20px;
  padding-left: 20px;
}
.timeline > div {
  margin: 0;
  padding: 0;
  margin-left: -34px;
  margin-bottom: .5em;
  line-height: 24px;
}
.timeline > div:last-child {
  margin-bottom: 0;
}
.timeline .timeline-icon {
  margin: 0;
  padding: 0;
  width: 24px;
  height: 24px;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  background-color: #428bca;
  color: #fff;
}
.timeline .activity-active .timeline-icon {
  background-color: black!important;
}
.timeline img {
  border-radius: 50%;
  margin-bottom: 2px;
}
.timeline a {
  color: black;
}
.timeline-icon.timeline-warning {
  border-color: #c09853;
  border-style: solid;
  border-width: 2px;
  background-color: white;
  color: #c09853;
  line-height: 20px;
}
.timeline .timeline-icon.timeline-nobg {
  background-color: transparent;
}
.sub-activity {
  margin-left: 30px;
  padding-left: 10px;
  border-left: 3px solid green;
}
.sub-activity-active {
  border-left: 8px solid black;
}
.sub-activity-failed {
  border-left: 3px solid #d9534f;
}
.timeline-icon-failed {
  background-color: #d9534f !important;
}
.table-with-form-fields tbody tr td {
  line-height: 34px;
}
#vm-detail-panel .panel-body {
  min-height: 20em;
}
#node-detail-panel .panel-body {
  min-height: 20em;
}
#group-detail-panel .panel-body {
  min-height: 20em;
}
:link i:before:hover {
  text-decoration: none !important;
}
.rule-table tr > :nth-child(1) {
  text-align: right;
}
.rule-table tr > :nth-child(2) {
  text-align: center;
}
.dashboard-index .panel {
  height: 294px;
}
#vm-details-rename,
#vm-details-h1-name,
#vm-details-rename,
#node-details-rename,
#node-details-rename *,
#node-details-h1-name,
#node-list-rename,
#node-list-rename *#group-details-rename,
#group-details-rename *,
#group-details-h1-name,
#group-list-rename,
#group-list-rename * {
  display: inline;
}
#vm-details-rename,
#vm-list-rename,
#node-details-rename,
#node-list-rename,
#group-details-rename,
#group-list-rename {
  display: none;
}
#group-details-rename-form {
  display: inline-block;
}
.vm-details-home-name,
#group-details-rename-form .input-group {
  max-width: 401px;
}
#node-details-rename-name {
  max-width: 160px;
}
#vm-list-rename-name,
#node-list-rename-name,
#group-list-rename-name {
  max-width: 150px;
}
.label-tag {
  /* pass */
}
#vm-details-tags-form,
#node-details-traits-form {
  margin-top: 15px;
  max-width: 250px;
}
.vm-details-remove-tag,
.node-details-remove-trait {
  color: white;
  padding-left: 5px;
}
.vm-details-remove-tag:hover,
.node-details-remove-trait:hover {
  cursor: pointer;
  color: black;
  text-decoration: none;
}
/* small buttons for tags, copied from Bootstraps input-sm, bnt-sm */
.btn-tags,
.btn-traits {
  padding: 3px 6px;
  font-size: 11px;
  line-height: 1.5;
  border-radius: 3px;
}
.input-tags,
.input-tratis {
  height: 22px;
  padding: 2px 8px;
  font-size: 11px;
  line-height: 1.5;
  border-radius: 3px;
}
/* --- */
.vm-details-remove-port:hover {
  text-decoration: none;
}
/* arrow in port add table */
#ipv4 tbody td:nth-child(2),
#ipv6 tbody td:nth-child(2) {
  width: 60px;
}
/* port add buttons */
.vm-details-network-port-add .input-group-addon,
.vm-details-network-port-add .input-group-btn {
  width: inherit ;
}
/* vm-create */
a.hover-black {
  color: white;
}
.hover-black:hover {
  color: black /*#d9534f*/;
  text-decoration: none;
}
.no-js-hidden {
  display: none;
}
#vm-create-network-addcheckbox-managed {
  -webkit-transform: scale(1.3, 1.3);
  margin-top: 4px;
}
/* --- */
.interval-input {
  margin-bottom: 20px;
  max-width: 600px;
}
.interval-input input {
  text-align: right;
}
/* vm details connection */
.vm-details-connection dd {
  padding: 4px 0 4px 0;
  margin-left: 160px;
}
.vm-details-connection dt {
  text-align: left;
  padding: 4px 0 4px 15px;
}
#vm-details-pw-confirm {
  margin-top: 10px;
  display: none;
}
#vm-details-pw-confirm dt {
  text-align: right;
}
.dashboard-vm-details-network-h3 {
  margin-top: 20px;
}
/* font awesome font */
.font-awesome-font {
  font-family: "FontAwesome";
}
.template-list-table tbody > tr > td,
.template-list-table thead > tr > th,
.lease-list-table tbody > tr > td,
.lease-list-table thead > tr > th {
  vertical-align: middle;
  text-align: center;
}
.template-list-table td:nth-child(1),
.lease-list-table td:nth-child(1) {
  text-align: left;
}
.template-list-table-thin {
  width: 100px;
}
.nojs-dropdown-menu {
  position: absolute;
  display: none;
  z-index: 1;
}
.nojs-dropdown-toggle:focus + .nojs-dropdown-menu {
  display: block;
}
.nojs-dropdown-toggle:focus {
  outline: none;
}
.nojs-dropdown-menu:hover {
  display: block;
}
#notification-messages {
  padding: 10px 8px;
  width: 350px;
  right: 0;
  left: auto;
}
.notification-message {
  margin-bottom: 10px;
  padding: 0 0 4px 0;
  border-bottom: 1px dotted #D3D3D3;
}
#notification-messages .notification-message:last-child {
  margin-bottom: 0px;
  padding: 0px;
  border-bottom: none;
}
.notification-message-text {
  padding: 8px 15px;
  display: none;
}
.notification-message .notification-message-subject {
  cursor: pointer;
}
#notification-button a.dropdown-toggle {
  color: white;
  font-size: 12px;
}
#vm-migrate-node-list {
  list-style: none;
}
#vm-migrate-node-list li {
  padding-bottom: 10px;
}
.vm-migrate-node-property {
  display: block;
  padding-left: 15px;
}
.vm-details-help {
  max-width: 700px;
  padding: 10px 10px 0px 10px;
  margin-left: 50px;
  /*  fancy stuff
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border-radius: 8px;
  */
}
.vm-details-help li {
  padding-bottom: 5px;
}
.vm-details-help ul {
  padding-left: 0px;
}
/* footer */
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: #101010;
  color: white;
  font-size: 13px;
  padding: 5px 5px 0 5px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
  text-align: center;
}
footer a,
footer a:hover,
footer a:visited {
  color: white;
  text-decoration: underline;
}
.template-disk-list {
  list-style: none;
  padding-left: 0;
}
.template-disk-list li {
  padding-bottom: 5px;
}
#node-info-pane {
  margin-bottom: 20px;
}
.template-choose-list {
  max-width: 600px;
}
.template-choose-list-element small {
  display: none;
  float: right;
  padding-right: 50px;
}
.template-choose-list-element {
  padding: 6px 10px;
  cursor: pointer;
  margin-bottom: 15px;
  /* bootstrap panel default is 20px */
}
.template-choose-list input[type="radio"] {
  float: right;
}
/* template create vm help */
.alert-new-template {
  background: #3071a9;
  color: white;
  font-size: 22px;
}
.alert-new-template ol {
  margin-left: 25px;
}
/* bootstrap tour */
.tour-template {
  max-width: 400px;
  min-width: 270px;
  font-size: 16px;
}
.tour-template {
  text-align: justify;
}
.tour-template .popover-title {
  font-weight: bold;
}
#vm-details-resources-form {
  padding: 5px;
  /* it's nice this way in the tour */
}
#dashboard-vm-list a small {
  padding-left: 10px;
}
.index-template-list-name {
  display: inline-block;
  max-width: 50%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  float: left;
}
#dashboard-template-list a small {
  max-width: 45%;
  float: left;
  padding-top: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 10px;
}
#vm-details-home-description {
  display: inline-block;
  position: relative;
}
#vm-details-home-description textarea {
  min-width: 240px;
  min-height: 250px;
}
.vm-details-home-edit-description-click,
.vm-details-home-edit-name-click {
  cursor: pointer;
}
.vm-details-description-submit {
  position: absolute;
  bottom: 10px;
  right: 20px;
}
.vm-list-table th i {
  margin-top: 3px;
}
.table-sorting {
  display: none;
}
#ops {
  padding: 15px 0 15px 15px;
}
#vm-access-table th:last-child,
#vm-access-table td:last-child,
#template-access-table th:last-child,
#template-access-table td:last-child {
  text-align: center;
}
#notifications-button {
  margin: 0;
}
#dashboard-vm-list,
#dashboard-node-list,
#dashboard-group-list,
#dashboard-template-list,
#dashboard-files-toplist,
#dashboard-user-list {
  min-height: 200px;
}
#group-detail-user-table td:first-child,
#group-detail-user-table th:last-child,
#group-detail-user-table td:last-child,
#group-detail-perm-table td:first-child,
#group-detail-perm-table th:last-child,
#group-detail-perm-table td:last-child {
  text-align: center;
  width: 100px;
}
#group-detail-user-table tr:last-child td:nth-child(2) {
  text-align: left;
}
#group-detail-perm-header {
  margin-top: 25px;
}
textarea[name="new_members"] {
  max-width: 500px;
  min-height: 80px;
  margin-bottom: 10px;
}
/* 2px border bottom for all bootstrap tables */
.table thead > tr > th {
  border-bottom: 1px;
}
.badge-pulse {
  -webkit-animation-name: 'pulse_animation';
  -webkit-animation-duration: 1000ms;
  -webkit-transform-origin: 70% 70%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
@-webkit-keyframes pulse_animation {
  0% {
    -webkit-transform: scale(1);
  }
  30% {
    -webkit-transform: scale(1);
  }
  40% {
    -webkit-transform: scale(1.18);
  }
  50% {
    -webkit-transform: scale(1);
  }
  60% {
    -webkit-transform: scale(1);
  }
  70% {
    -webkit-transform: scale(1.08);
  }
  80% {
    -webkit-transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
.btn-toolbar {
  margin-bottom: 5px;
}
#vm-console-screenshot {
  display: none;
}
/* vm list css */
.vm-list-selected,
.vm-list-selected td {
  background-color: #e8e8e8 !important;
}
.vm-list-selected:hover,
.vm-list-selected:hover td {
  background-color: #d0d0d0 !important;
}
.vm-list-selected td:first-child {
  font-weight: bold;
}
.vm-list-table-thin {
  width: 10px;
}
.vm-list-table-admin {
  width: 130px;
}
.vm-details-connection-string-copy,
#vm-details-pw-show {
  cursor: pointer;
}
.dashboard-profile-vm-list,
.dashboard-profile-group-list {
  list-style: none;
  padding-left: 28px;
}
.dashboard-profile-vm-list a,
.dashboard-profile-group-list a,
.dashboard-profile-vm-list a:hover,
.dashboard-profile-group-list a:hover {
  text-decoration: none;
  color: #555;
}
#group-detail-user-table td:nth-child(2) a,
#group-detail-perm-table td:nth-child(2) a,
#template-access-table td:nth-child(2) a,
#vm-access-table td:nth-child(2) a,
.no-style-link,
.no-style-link:hover {
  color: #555 !important;
  text-decoration: none;
}
#dashboard-profile-avatar {
  max-width: 200px;
}
.dashboard-vm-details-connect-command {
  /* for mobile view */
  padding-bottom: 20px;
}
#store-list-list {
  list-style: none;
}
.store-list-item {
  cursor: pointer;
}
.store-list-item:hover {
  background: rgba(0, 0, 0, 0.6);
}
.store-list-item-icon {
  width: 20px;
  text-align: center;
  display: inline-block;
  margin-right: 15px;
  float: left;
}
.store-list-item-size {
  width: 70px;
  text-align: right;
  float: right;
}
.store-list-file-infos {
  padding: 15px;
  display: none;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  position: relative;
}
.store-list-item-new {
  display: inline-block;
}
.store-list-item-new .badge {
  margin-left: 5px;
  background: #5bc0dc;
}
.store-list-item-icon-directory {
  color: #ff8c00;
}
.store-remove-button {
  margin-top: 8px;
}
#dashboard-files-toplist div.list-group-item {
  color: #555;
  height: 41px;
}
#dashboard-files-toplist div.list-group-item:hover {
  background: #eee;
}
.store-list-item-name {
  max-width: 70%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  float: left;
}
.dashboard-toplist-icon {
  float: left;
  padding: 2px 5px 0 0;
}
.no-hover:hover {
  background: none !important;
}
#group-detail-permissions .filtered {
  margin: 2px 0;
  padding: 2px 3px;
  vertical-align: middle;
  font-family: "Lucida Grande", Verdana, Arial, sans-serif;
  font-weight: normal;
  font-size: 11px;
  border: 1px solid #ccc;
}
#group-detail-permissions .selector-available h2,
#group-detail-permissions .selector-chosen h2 {
  margin: 0;
  padding: 5px 8px 5px 8px;
  font-size: 12px;
  text-align: left;
  font-weight: bold;
  background: #7CA0C7;
  color: white;
}
#group-detail-user-table {
  margin-top: 20px;
}
#group-detail-permissions input[type="submit"] {
  margin-top: -6px;
}
.store-action-button {
  margin-left: 5px;
}
#progress-marker-hard {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  right: 0;
  background: red;
}
.progress-marker {
  width: 6px;
  height: 20px;
  position: absolute;
}
#show-all-activities-container {
  margin: 20px 0 0 10px;
}
#vm-details-resources-form {
  margin-top: 15px;
}
#vm-details-resources-form .row,
.resources-sliders .row {
  margin-bottom: 15px;
}
#vm-create-disk-add-form {
  max-width: 450px;
  margin-top: 15px;
}
.vm-create-template {
  max-width: 800px;
  border: 1px solid black;
  border-bottom: none;
}
.vm-create-template-list .vm-create-template:last-child {
  border-bottom: 1px solid black;
}
.vm-create-template-summary {
  padding: 15px;
  cursor: pointer;
}
.vm-create-template:nth-child(odd) .vm-create-template-summary {
  background: #F5F5F5;
}
.vm-create-template-list .vm-create-template-summary:hover {
  background: #D2D2D2;
}
.vm-create-template-details {
  border-top: 1px dashed #D3D3D3;
  padding: 15px;
}
.vm-create-template-details ul {
  list-style: none;
  padding: 0 15px;
}
.vm-create-template-details li {
  border-bottom: 1px dotted #aaa;
  padding: 5px 0px;
}
#profile-key-list-table td:last-child,
#profile-key-list-table th:last-child,
#profile-command-list-table td:last-child,
#profile-command-list-table th:last-child,
#profile-command-list-table td:nth-child(2),
#profile-command-list-table th:nth-child(2) {
  text-align: center;
  vertical-align: middle;
}
#vm-list-table .migrating-icon {
  -webkit-animation: passing 2s linear infinite;
  animation: passing 2s linear infinite;
}
@-webkit-keyframes passing {
  0% {
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: 0;
  }
}
@keyframes passing {
  0% {
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: 0;
  }
}
.mass-migrate-node {
  cursor: pointer;
}
.mass-op-panel {
  padding: 6px 10px;
}
.mass-op-panel .check {
  color: #449d44;
}
.mass-op-panel .minus {
  color: #d9534f;
}
.mass-op-panel .status-icon {
  font-size: .8em;
}
#vm-list-search,
#vm-mass-ops {
  margin-top: 8px;
}
.list-group-item {
  border-bottom: 0px !important;
}
::-webkit-scrollbar {
display: none;
}
.list-group-item-last {
  border-bottom: 1px solid #ddd !important;
}
.slider {
  display: inline-block;
}
.slider .track {
  height: 20px;
  top: 50%;
}
.slider > .dragger,
.slider > .dragger:hover {
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  width: 8px;
  height: 24px;
  margin-top: -12px !important;
  text-shadow: 0 1px 0 #fff;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#428bca), to(#3071a9));
  background-image: -webkit-linear-gradient(top, #428bca, 0%, #3071a9, 100%);
  background-image: -moz-linear-gradient(top, #428bca 0%, #3071a9 100%);
  background-image: linear-gradient(to bottom, #428bca 0%, #3071a9 100%);
  background-repeat: repeat-x;
  border-color: #2d6ca2;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff3071a9', GradientType=0);
}
.slider > .dragger:hover {
  background-color: #3071a9;
  background-image: none;
  border-color: #2d6ca2;
}
.slider > .highlight-track {
  height: 20px;
  top: 50%;
}
.slider > .track,
.slider > .highlight-track {
  border-radius: 5px;
}
.slider {
  width: 100%;
}
#vm-list-search-checkbox {
  margin-top: -1px;
  display: inline-block;
  vertical-align: middle;
}
#vm-list-search-checkbox-span {
  cursor: pointer;
}
#vm-details-resources-disk {
  padding: 2px 5px 10px 5px;
}
#vm-details-start-template-tour {
  margin-right: 5px;
}
#vm-activity-state {
  margin-bottom: 15px;
}
.autocomplete-hl {
  color: #b20000;
  font-weight: bold;
}
.hilight .autocomplete-hl {
  color: orange;
}
.introjs-skipbutton {
  color: #333;
}
.introjs-button:focus {
  text-decoration: none;
  color: #333;
  outline: none;
}
.introjs-button:hover:not(.introjs-disabled) {
  color: #428bca;
}
.introjs-tooltip {
  min-width: 250px;
}
#vm-info-pane {
  margin-bottom: 20px;
}
.node-list-table tbody > tr > td,
.node-list-table thead > tr > th {
  vertical-align: middle;
}
.node-list-table thead > tr > th,
.node-list-table .enabled,
.node-list-table .priority,
.node-list-table .overcommit,
.node-list-table .number_of_VMs {
  text-align: center;
}
.node-list-table-thin {
  width: 10px;
}
.node-list-table-monitor {
  width: 250px;
}
.graph-images img {
  max-width: 100%;
}
#vm-list-table td.state,
#vm-list-table td.memory {
  white-space: nowrap;
}
#vm-list-table td {
  vertical-align: middle;
}
.disk-resize-btn {
  margin-right: 5px;
}
#vm-migrate-node-list li {
  cursor: pointer;
}
.group-list-table .actions,
.group-list-table .admin,
.group-list-table .number_of_users,
.group-list-table .pk {
  width: 1px;
  white-space: nowrap;
  text-align: center;
}
.vm-create-list-name {
  display: inline-block;
  max-width: 60%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  float: left;
}
.vm-create-list-system {
  display: inline-block;
  max-width: 40%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  float: right;
}
/* for introjs
 * newer version has this fixed
 * but it doesn't work w bootstrap 3.2.0
 */
.introjs-helperLayer *,
.introjs-helperLayer *:before,
.introjs-helperLayer *:after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  -o-box-sizing: content-box;
  box-sizing: content-box;
}
.node-list-table .monitor .progress {
  position: relative;
  width: 150px;
  height: 16px;
  margin-bottom: 4px;
  margin-top: 0px;
  background-image: linear-gradient(to bottom, #bbebeb 0px, #f5f5f5 100%);
}
.node-list-table .monitor .progress-bar-text {
  position: absolute;
  top: -1px;
  display: block;
  width: 100%;
  color: white;
  /* outline */
  text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
  font-size: 13px;
}
.infobtn {
  cursor: help;
}
.infobtn:hover {
  background-position: 0 0px;
}
#dashboard-vm-list .list-group-item {
  display: flex;
}
#dashboard-vm-list .index-vm-list-name,
#dashboard-vm-list .index-vm-list-host {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#dashboard-vm-list .index-vm-list-name {
  max-width: 70%;
}
#dashboard-vm-list .index-vm-list-host {
  padding-top: 3px;
  flex: 1;
}
#dashboard-user-list .list-group-item {
  display: flex;
}
#dashboard-user-list .index-user-list-name,
#dashboard-user-list .index-user-list-org {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#dashboard-user-list .index-user-list-name {
  max-width: 80%;
}
#dashboard-user-list .index-user-list-org {
  padding-left: 5px;
  flex: 1;
}
.fa-fw-12 {
  /* fa-fw is too wide */
  width: 12px;
}
.btn-op-form-send {
  padding: 6px 12px 6px 8px;
}
@media (max-width: 767px) {
  #vm-detail-panel .graph-buttons {
    padding-top: 15px;
  }
  .graph-buttons a {
    margin-bottom: 8px;
  }
  #ops .operation {
    margin-bottom: 5px;
  }
  .vm-details-connection dd {
    margin-left: 25px;
  }
  .vm-details-connection dt {
    padding-left: 0px;
  }
}
#notifications-upper-pagination {
  margin-top: 4px;
}
#notifications-bottom-pagination * {
  display: inline-block;
}
#notifications-bottom-pagination a {
  font-size: 20px;
}
#notifications-bottom-pagination a:hover {
  text-decoration: none;
}
#notifications-bottom-pagination .page-numbers {
  padding: 25px;
}
.pagination {
  width: 100%;
}
#empty-vm-help {
  position: absolute;
  bottom: 70px;
  right: 30px;
  color: #101010;
  text-align: right;
}
#empty-vm-help i {
  padding-right: 10px;
}
#vm-detail-successfull-boot {
  margin-bottom: 20px;
  display: none;
}
#vm-detail-access-help {
  background: #f9f9f9;
  margin-top: 20px;
}
#vm-renew-request-lease,
#vm-request-resource-form {
  display: none;
}
.label-100 {
  display: block;
  width: 100%;
}
#modify-the-resources {
  font-size: 18px;
  display: none;
}
#vm-request-resource-form textarea {
  max-width: 500px;
  height: 150px;
}
#disk-list-table td:last-child {
  text-align: center;
}
/* help page */
.help-tabs li {
  width: 50%;
  text-align: center;
}
#help-tab-content h1,
#help-tab-content h2,
#help-tab-content h3,
#help-tab-content h4,
#help-tab-content h5 {
  font-weight: bold;
  padding-top: 55px;
  margin-top: -55px;
}
#help-tab-content blockquote {
  background-color: #dfe4e4;
}
#wrapper {
  position: fixed;
  padding-left: 0px;
  background: #252525;
  left: 0px;
  top: 46px;
  height: 100%;
  width: 210px;
  transition: all .4s ease 0s;
  /* Firefox */
  height: -moz-calc(-30%);
  /* WebKit */
  height: -webkit-calc(-20%);
  /* Opera */
  height: -o-calc(-10%);
  /* Standard */
  height: calc(-30%);
}
#sidebar-wrapper {
  margin-left: 0px;
  left: 0px;
  top: inherit;
  bottom: 30px;
  width: inherit;
  position: inherit;
  z-index: 10000;
  transition: all .4s ease 0s;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
}
#sidebar-wrapper ul {
  display: block;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0px;
}
#sidebar-wrapper a {
  font-family: "proxima-nova", 'Helvetica Neue', 'Helvetica', 'sans-serif';
  color: #ddd;
  display: block;
  float: left;
  width: 200px;
  text-decoration: none;
  background: #252525;
  border-top: 1px solid #333;
  border-bottom: 1px solid #222;
  -webkit-transition: background .5s;
  -moz-transition: background .5s;
  -o-transition: background .5s;
  -ms-transition: background .5s;
  transition: background .5s;
}
#sidebar-wrapper ul a {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-size: larger;
}
#sidebar-wrapper li a {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 20px;
  padding-right: 6px;
  font-size: smaller;
}
#sidebar-wrapper ul ul a {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  font-size: larger;
}
#sidebar-wrapper li li a {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 24px;
  padding-right: 6px;
  font-size: smaller;
}
#sidebar-wrapper li a:hover,
#sidebar-wrapper ul a:hover {
  color: #fff;
  background: rgba(200, 200, 255, 0.15);
  text-decoration: none;
}
#page-content {
  margin-left: 200px;
}
@media only screen and (max-width: 600px) {
  #wrapper {
    -webkit-transform: translateX(-250px);
    -moz-transform: translateX(-250px);
    -o-transform: translateX(-250px);
    -ms-transform: translateX(-250px);
    transform: translateX(-250px);
  }
  #page-content {
    margin-left: 0px;
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    -o-transition: background .5s;
    -ms-transition: background .5s;
    transition: background .5s;
  }
}
.overview_href {
  cursor: pointer;
}
#request-buttons form {
  display: inline;
}
#request-buttons textarea {
  resize: none;
  min-height: 80px;
}
.nowrap {
  white-space: nowrap;
}
.little-margin-bottom {
  margin-bottom: 5px;
}
.broadcast-message {
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.acl-table td:first-child {
  text-align: center;
}
#resize-help table {
  background-color: #f5f5f5;
}
#resize-help .panel {
  padding: 2px 20px;
  background-color: #f5f5f5;
  margin: 20px 0px;
}
#resize-help ol li {
  margin-top: 15px;
}
#resize-help img {
  display: block;
  margin: 15px 0 5px 0;
}
#resize-help pre {
  margin-top: 5px;
}
#resize-help hr {
  margin: 50px 0;
}
#vm-details-resize-how-to {
  font-size: 1.5em;
  text-align: center;
  width: 100%;
}
