html {
    background-color: #eee;
}
body {
    background-color: #eee !important;
    margin-top: 40px;
}
ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.container > .content {
    max-width: 570px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
}
.login-form-errors .alert {
    margin-right: 30px;
    margin-left: 30px;
}
.login-form {
    margin: 20px auto 0 auto;
    padding: 0 10px;
    max-width: 250px;
}
.login-form form {
    padding: 0 20px;
}
.input-group {
    margin-bottom: 10px;
}
.input-group-addon {
    width: 38px;
}
.form-group label {
    margin-top: 20px;
}
#submit-password-button {
    margin-top: 15px;
}
.form-group {
    margin-bottom: 0px;
}
.help-block {
    display: none;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
