<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/png" href="{{static('img/favicon.png')}}"/>
        <title>{% block title %}{% endblock %}OCCIRCLE</title>
        <script type="text/javascript" src="{{static('js/jquery-3.1.1.min.js')}}"></script>
        <script type="text/javascript" src="{{static('js/bootstrap.min.js')}}"></script>
        <link rel="stylesheet" href="{{static('css/style.css')}}">
        <link rel="stylesheet" href="{{static('css/dashboard.css')}}">
        <link rel="stylesheet" href="{{static('css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{static('css/font-awesome.min.css')}}">
        <link rel="stylesheet" href="{{static('css/bootstrap-theme.css')}}">
        {% block head %}{% endblock %}
    </head>

    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-header">
                <a class="navbar-brand" href="/" style="padding: 10px 15px;">
                    <img src="{{static('img/occircle.png')}}" alt="circle logo" style="height: 25px;"/>
                </a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#dropdown">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="dropdown" class="collapse navbar-collapse">{%block menu%}{%endblock%}</div>
        </div>

        {% block content %}{% endblock %}

        <footer>
            <a href="https://circlecloud.org/" target="blank">
                <img src="{{static('img/circle.png')}}" alt="circle logo" style="height:
            20px;padding-top:5px;" class="pull-left"/></a>
            <a href="http://occi-wg.org/" target="blank">
                <img src="{{static('img/occi.png')}}" class="pull-left" alt="occi logo"
            style="padding-left:10px;padding-top:0px;height:25px;"/></a>
            <span class="pull-right">BME IK {%now 'local', '%Y'%}</span>
        </footer>

    </body>
</html>
