{%extends "basetemplate.html"%}
{%block title%}{{compute["attributes"]["occi.core.title"] or "N/A"}} ({{compute["attributes"]["occi.compute.hostname"] or "N/A"}}) | {%endblock%}
{%block head%}<script type="text/javascript" src="{{ static('js/vm.js') }}"></script>{%endblock%}
{%block menu%}{%include "menu.html"%}{%endblock%}
{%block content%}
<div class="container">
    {{ csrf_input }}
    <div class="page-header" style="padding:10px;margin-top:0;">
       <div class="row">
            <h1>
                <div id="vm-details-h1-name" class="vm-details-home-edit-name">{{compute["attributes"]["occi.core.title"] or "N/A"}}</div>
                <small>{{compute.attributes["occi.compute.hostname"] or "N/A"}}</small>
                <small>
                    <span class="label label-success">
                        <i class="fa
                        {%if compute.attributes["occi.compute.state"] or "N/A" == "active"%}fa-play
                        {%elif compute.attributes["occi.compute.state"] or "N/A" == "suspended"%}fa-pause
                        {%elif compute.attributes["occi.compute.state"] or "N/A" == "inactive"%}fa-stop
                        {%else%}fa-exclamation-triangle{%endif%}
                        " id="vm-status-bar">
                        </i>&nbsp<span>{%filter upper%}{{compute.attributes["occi.compute.state"] or "N/A"}}{%endfilter%}</span>
                    </span>
                </small>
            </h1>
        </div>
        <div class="row">
            <a onclick="start({{id}})" class="btn
            {%if compute.attributes["occi.compute.state"] != "inactive"%}disabled btn-default
            {%else%}btn-success{%endif%}
            btn-xs" title="Start">
                <i class="fa fa-play"></i>
            </a>

            <a onclick="wakeup({{id}})" class="btn
            {%if compute.attributes["occi.compute.state"] != "suspended"%}disabled btn-default
            {%else%}btn-success{%endif%}
            btn-xs" title="Wake up">
                <i class="fa fa-sun-o"></i>
            </a>

            <a onclick="sleep({{id}})" class="btn
            {%if compute.attributes["occi.compute.state"] != "active"%}disabled btn-default
            {%else%}btn-info{%endif%}
            btn-xs" title="Sleep">
                <i class="fa fa-moon-o"></i>
            </a>

            <a onclick="reboot({{id}})" class="btn
            {%if compute.attributes["occi.compute.state"] != "active"%}disabled btn-default
            {%else%}btn-warning{%endif%}
            btn-xs" title="Reboot">
                <i class="fa fa-refresh"></i>
            </a>

            <a onclick="reset({{id}})" class="btn
            {%if compute.attributes["occi.compute.state"] != "active"%}disabled btn-default
            {%else%}btn-warning{%endif%}
            btn-xs" title="Reset">
                <i class="fa fa-bolt"></i>
            </a>

            <a onclick="shutdown({{id}})" class="btn
            {%if compute.attributes["occi.compute.state"] != "active"%}disabled btn-default
            {%else%}btn-warning{%endif%}
            btn-xs" title="Shutdown">
                <i class="fa fa-power-off"></i>
            </a>

            <a onclick="shutoff({{id}})" class="btn
            {%if compute.attributes["occi.compute.state"] != "active"%}disabled btn-default
            {%else%}btn-warning{%endif%}
            btn-xs" title="Shut off">
                <i class="fa fa-plug"></i>
            </a>

            <a onclick="destroy({{id}})" class="btn btn-danger btn-xs" title="Destroy">
                <i class="fa fa-times"></i>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3><i class="fa fa-globe"></i> Connection details</h3>
                </div>
                <div class="panel-body"><dl class="dl-horizontal vm-details-connection">
                <dt>Protocol</dt>
                <dd>{{compute.attributes["org.circlecloud.occi.credentials.protocol"] or "N/A"}}</dd>
                <dt>Host</dt>
                <dd>{{compute.attributes["org.circlecloud.occi.credentials.host"] or "N/A"}}:<strong>{{compute.attributes["org.circlecloud.occi.credentials.port"] or "N/A"}}</strong></dd>
                <dt>Username</dt>
                <dd>{{compute.attributes["org.circlecloud.occi.credentials.username"] or "N/A"}}</dd>
                <dt>Password</dt>
                <dd>{{compute.attributes["org.circlecloud.occi.credentials.password"] or "N/A"}}</dd>
                <dt>Command</dt>
                <dd>{{compute.attributes["org.circlecloud.occi.credentials.command"] or "N/A"}}</dd>
            </dl></div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3><i class="fa fa-tasks"></i> Resources</h3>
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal vm-details-connection">
                        <dt>CPU cores</dt>
                        <dd>{{compute.attributes["occi.compute.cores"] or "N/A"}}</dd>
                        <dt>Architecture</dt>
                        <dd>{{compute.attributes["occi.compute.architecture"] or "N/A"}}</dd>
                        <dt>CPU share<dt>
                        <dd>{{compute.attributes["occi.compute.share"] or "N/A"}}</dd>
                        <dt>Memory</dt>
                        <dd>{{compute.attributes["occi.compute.memory"] or "N/A"}} GiB</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}
