{%extends "basetemplate.html"%}
{%block head%}<script type="text/javascript" src="{{static('js/vm.js')}}"></script>{%endblock%}
{%block title %}VMs | {%endblock%}
{%block menu%}{%include "menu.html"%}{%endblock%}
{%block content%}
<div class="container">
    <div class="body-content dashboard-index">
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="pull-right">
                            <div class="btn-group">
                                <a class="btn btn-success btn-xs vm-create" data-toggle="modal" data-target="#vmcreatepopup"><i class="fa fa-plus-circle"></i> new</a>
                            </div>
                        </div>
                        <h3 class="no-margin">
                            <span class="visible-xs"><i class="fa fa-desktop"></i> VMs</span>
                            <span class="hidden-xs"><i class="fa fa-desktop"></i> Virtual machines</span>
                        </h3>
                    </div>
                    <div class="list-group" id="vm-list-view"
                    style="overflow-y:scroll;height:247px;">
                        <div id="dashboard-vm-list">
                            {% for compute in computes %}
                            <a href="{{url('compute', args=[compute["id"]])}}" class="list-group-item{% if loop.last %} list-group-item-last{% endif %}">
                                <span class="index-vm-list-name">
                                    <i class="fa
                                    {% if compute["attributes"]["occi.compute.state"] == "active" %}fa-play
                                    {% elif compute["attributes"]["occi.compute.state"] == "suspended" %}fa-pause
                                    {% elif compute["attributes"]["occi.compute.state"] == "inactive" %}fa-stop
                                    {% else %}fa-exclamation-triangle
                                    {% endif %}" title="running"></i>
                                    {{compute["attributes"]["occi.core.title"]}}
                                </span>
                                <small class="text-muted
                                index-vm-list-host">{{compute["attributes"]["occi.compute.hostname"] or "N/A"}}</small>
                                <div style="clear: both;"></div>
                                <div class="clearfix"></div>
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="no-margin"><i class="fa fa-puzzle-piece"></i> Templates</h3>
                    </div>
                    <div class="list-group" id="template-list-view">
                        <div id="dashboard-template-list">
                            {% for template in templates %}
                            <button onclick="create('{{template["fullterm"]}}')" class="list-group-item {% if loop.last %} list-group-item-last{%endif%}">
                            <span class="index-template-list-name"><i class="fa fa-puzzle-piece"></i> {{template["title"]}}</span>
                            <div class="pull-right vm-create">
                                <i data-container="body" title="Start VM instance" class="fa fa-play"></i>
                            </div>
                            <div class="clearfix"></div>
                            </button>
                            {% endfor %}
                    </div></div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="vmcreatepopup" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Create a VM instance of a template.</h4>
                    </div>
                    <div class="modal-body" id="modal-body">
                        {% for template in templates %}
                        <button onclick="create('{{template["fullterm"]}}')" class="list-group-item {% if loop.last %} list-group-item-last{%endif%}">
                        <span class="index-template-list-name"><i class="fa fa-puzzle-piece"></i> {{template["title"]}}</span>
                        <div class="pull-right vm-create">
                            <i data-container="body" title="Start VM instance" class="fa fa-play"></i>
                        </div>
                        <div class="clearfix"></div>
                        </button>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}
