{%extends "basetemplate.html"%}
{%block title%}Login | {%endblock%}
{% block content %}
<div class="container">
    <div class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="login-form">
                    <form id="loginform" method="post">
                        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                        <div class="input-group" >
                            <span class="input-group-addon" ><i class="fa fa-user"></i></span>
                            <div id="div_id_username" class="form-group">
                                <div class="controls">
                                    <input required class="form-control textinput textInput form-control" id="id_username" maxlength="254" name="username" placeholder="Username" type="text" />
                                </div>
                            </div>
                        </div>
                        <div class="input-group" >
                            <span class="input-group-addon" ><i class="fa fa-lock" ></i></span>
                            <div id="div_id_password" class="form-group">
                                <div class="controls ">
                                    <input required class="form-control textinput textInput form-control" id="id_password" name="password" placeholder="Password" type="password" />
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <input type="submit" value="Sign in" class="btn btn-primary btn btn-success"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
