<ul class="nav navbar-nav navbar-right" id="dashboard-menu">
    <li>
        <a style="position: relative;display: block;padding: 10px 15px;" href="/">
            <i class="fa fa-user"></i> User: {{ username }}
        </a>
    </li>
    <li>
        <a style="position: relative;display: block;padding: 10px 15px;" href="/logout/">
            <i class="fa fa-sign-out"></i> Log out
        </a>
    </li>
</ul>
